# https://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4
end_of_line = lf
max_line_length = 120

[*.{js,jsx,ts}]
indent_style = space
indent_size = 2
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null

[*.{yml,json,toml}]
indent_style = space
indent_size = 2

[*.scss]
indent_size = 4
indent_style = space

[Makefile]
indent_style = tab
