.login-page {
    .ant-row-flex {
        height: 80vh;
    }

    .login-form {
        .login-form-forgot {
            float: right;
        }

        .login-form-button {
            width: 100%;
        }
    }
}
