.login-page {
    .ant-row-flex {
        height: 80vh;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .login-form {
        .login-form-forgot {
            float: right;
        }

        .login-form-button {
            width: 100%;
        }
    }
}
